.container_for_upload {
    width: 640px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.container_for_upload_resizing {
    width: fit-content;
}
.reached_limit {
    display: none
}
.btn_upload_more {
    @apply bg-slate-500;
    @apply text-white;
    @apply py-2;
    @apply px-4;
    @apply rounded-md;
    @apply transition-colors;
    @apply hover:bg-slate-400;
}
.btn_submit {
    @apply bg-indigo-500;
    @apply text-white;
    @apply py-2;
    @apply px-4;
    @apply rounded-md;
    @apply transition-colors;
    @apply hover:bg-indigo-400;
}
.container_images {
    width: 640px;
    justify-content: left;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.upload_image {
    width: 400px;
}